@import "../../node_modules/bootstrap/less/bootstrap.less";

.loading {
  animation: rotation 0.4s infinite linear;

  @keyframes rotation {
    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
  }
}

.loader {
  transition: all 0.5s;
}

.dropzone-upload-container {
  margin: 0 auto;
  width: 90%;
  min-height: 500px;
}

.dropzone-upload {
  width: 100%;
  height: 100px;
  display: block;
  border: dashed 2px black;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 50pt;
}

.dropzone-upload-active {
  background-color: lighten(@brand-success, 40%);
}

.dropzone-upload-reject {
  background-color: lighten(@brand-danger, 30%);
}

.upload-progress-container {
  ul {
    padding-left: 0;
    li {
      padding: 0 20px;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      div.progress {
        flex-grow: 2;
      }
      p {
        padding-right: 20px;
      }
    }
  }
}